@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');
* {
}

body{
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
  font-size: 1.3rem;
  color: #fff;
}

.header{
  width: 100%;
  padding: 10rem;
  background-color: #23424A
}

.container{
  width: 60%;
  max-width: 1100px;
}

p{
  margin-bottom: 100px;
  line-height: 1.4em;
}

h1{
  font-size: 3rem;
  font-weight: 900;
}

.btn{
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  color: #072A2D;
  border-radius: 28px;
  background-color: #38CFD9;
  padding: 1em 2em;
  font-size: 21px;
}
